{% extends 'basic.html' %}

{% block title %} Show Department {% endblock %}
{% block css %}
  #btnSearch {
            color: #738A9C;
        }

        #logo h1,
        img {
            float: left;
        }

        #logo img {
            width: 100px;
            height: 80px;
            padding-left: 15px;
        }
{% endblock %}
{% block body %}
{% load widget_tweaks %}
    <div class=" form-grids row form-grids-right">
        <div class="widget-shadow " data-example-id="basic-forms">
            <div class="form-title">
                <h4>All Department :</h4>
            </div>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Department_Id</th>
                  <th scope="col">Department_Name</th>
                  <th scope="col">Action</th>

                </tr>
              </thead>
              <tbody>
               {% for i in Department %}
                <tr>
                    <th scope="row">{{ i.id }}</th>

                    <td>{{ i.depName }}</td>
                    <td>
                        <a href="/editDepartment/{{ i.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>


        </div>
    </div>
{% endblock %}

